if SHIELD_MATRICIALSPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "Matricial Left"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT
    default y

endif

if SHIELD_MATRICIALSPLIT_RIGHT

config ZMK_KEYBOARD_NAME
    default "Matricial Right"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT
    default y

endif

if SHIELD_MATRICIALSPLIT_DONGLE

config ZMK_KEYBOARD_NAME
    default "Matricial"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

if SHIELD_MATRICIALSPLIT_NUMPAD

config ZMK_KEYBOARD_NAME
    default "Matricial Numpad"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT
    default y

endif

# 2 peripherals (left and right)
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 3

# Connections: 2 peripherals + 5 BT profiles
config BT_MAX_CONN
    default 8

# Set this to the same number as BT_MAX_CONN
config BT_MAX_PAIRED
    default 8

endif