#include "matricialsplit.dtsi"

&default_transform {
    // Numpad uses columns 8-11
    col-offset = <8>;
};

&kscan0 {
    // Numpad columns
    col-gpios
        = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

/ {
    // Solo kscan principal para el numpad, sin encoders
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        // zmk,display = &oled;  // Agregar referencia a la pantalla
        zephyr,display = &oled;
    };
};

/ {
    usb_indicator {
        compatible = "gpio-leds";
        usb_led: usb_led {
            gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
            label = "USB Status LED";
        };
    };
    
    aliases {
        usb-status-led = &usb_led;
    };
};