#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Matriz 4x4 de cada lado + encoder click izquierdo en RC(4,0)
            bindings = <
                &kp N1    &kp N2    &kp N3    &kp A      &kp Q     &kp W     &kp E     &kp R
                &kp N4    &kp N5    &kp N6    &kp B      &kp T     &kp Y     &kp U     &kp I
                &kp N7    &kp N8    &kp N9    &kp C      &kp O     &kp P     &kp LBKT  &kp RBKT
                &kp ASTRK &kp N0    &kp HASH  &kp D      &kp SPACE &kp ENTER &kp BSPC  &kp DEL
                &kp C_MUTE                               &kp C_MUTE 
            >;
            
            // Configuración de encoders - NECESARIO para el dongle
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN    // Encoder izquierdo: Volumen
                &inc_dec_kp C_VOL_UP C_VOL_DN    // Encoder derecho: Volumen
            >;
        };
    };
};