#include "matricialsplit.dtsi"

&default_transform {
    // Numpad uses columns 8-11
    col-offset = <8>;
};

&kscan0 {
    // Numpad columns
    col-gpios
        = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

/ {
    // Solo kscan principal para el numpad, sin encoders
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };
};

/ {
    // LEDs indicadores de batería - configurables por shield
    battery_indicator_leds {
        compatible = "gpio-leds";
        
        red_led: battery_red_led {
            gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>;
            label = "Battery Red LED (Charging)";
        };
        
        green_led: battery_green_led {
            gpios = <&pro_micro 2 GPIO_ACTIVE_HIGH>;
            label = "Battery Green LED (Full)";
        };
        
        blue_led: battery_blue_led {
            gpios = <&pro_micro 3 GPIO_ACTIVE_HIGH>;
            label = "Battery Blue LED (Low)";
        };
    };
    
    aliases {
        battery-red-led = &red_led;
        battery-green-led = &green_led;
        battery-blue-led = &blue_led;
    };
};