#include "matricialsplit.dtsi"

&default_transform {
    // Right side uses columns 4-7  
    col-offset = <4>;
};

&kscan0 {
    // Right side columns
    col-gpios
        = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

/ {
    // Encoder derecho KY-040
    right_encoder: encoder_right {
        compatible = "alps,ec11";
        label = "RIGHT_ENCODER";
        a-gpios = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // CLK
        b-gpios = <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // DT
        steps = <120>;  // KY-040 tiene 20 pasos
        status = "okay";
    };

    // Sensor para el encoder derecho
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&right_encoder>;
        triggers-per-rotation = <120>;
    };

    // Switch del encoder derecho (conexión directa)
    encoder_switch: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios = <&pro_micro 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // SW
    };
};