/*
 * Keymap de debug - cada tecla produce un carácter único
 * para identificar exactamente qué está siendo detectado
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            // IZQUIERDA (L0-L15)              DERECHA (R0-R15)
                &kp A     &kp B     &kp C     &kp D      &kp N1    &kp N2    &kp N3    &kp N4
                &kp E     &kp F     &kp G     &kp H      &kp N5    &kp N6    &kp N7    &kp N8
                &kp I     &kp J     &kp K     &kp L      &kp N9    &kp N0    &kp MINUS &kp EQUAL
                &kp M     &kp N     &kp O     &kp P      &kp Q     &kp R     &kp S     &kp T
            >;
        };
    };
};