/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ASTRK   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5
                &kp ASTRK   &kp Q       &kp W       &kp E       &kp R       &kp T
                &kp ASTRK   &kp A       &kp S       &kp D       &kp F       &kp G
                &kp ASTRK   &kp Z       &kp X       &kp C       &kp V       &kp B
                &kp ASTRK   &kp ASTRK   &kp ASTRK   &kp ASTRK   &kp ASTRK   &kp ASTRK
            >;
        };
    };
};