if SHIELD_MATRICIALDONGLE
    config ZMK_KEYBOARD_NAME
        default "MatSplit Dongle"
endif

if SHIELD_MATRICIALDONGLE_LEFT
    config ZMK_KEYBOARD_NAME
        default "MatSplit L"
endif

if SHIELD_MATRICIALDONGLE_RIGHT  
    config ZMK_KEYBOARD_NAME
        default "MatSplit R"
endif

if SHIELD_MATRICIALDONGLE || SHIELD_MATRICIALDONGLE_LEFT || SHIELD_MATRICIALDONGLE_RIGHT
    config ZMK_SPLIT
        default y
        
    config ZMK_BLE
        default y
endif