if SHIELD_MYSOFLE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "TEST NUEVO"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MYSOFLE_LEFT || SHIELD_MYSOFLE_RIGHT

config ZMK_SPLIT
    default y

endif