if SHIELD_MATRICIALDONGLE
    config ZMK_KEYBOARD_NAME
        default "Matricial Split Dongle"
    
    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_MATRICIALDONGLE_LEFT
    # Name must be less than 16 characters long!
    config ZMK_KEYBOARD_NAME
        default "Matricial Split"
    
    config ZMK_SPLIT_ROLE_PERIPHERAL  # Cambio clave aquí
        default y
endif

if SHIELD_MATRICIALDONGLE_RIGHT  
    config ZMK_KEYBOARD_NAME
        default "Matricial Split"
    
    config ZMK_SPLIT_ROLE_PERIPHERAL
        default y
endif

if SHIELD_MATRICIALDONGLE || SHIELD_MATRICIALDONGLE_LEFT || SHIELD_MATRICIALDONGLE_RIGHT
    config ZMK_SPLIT
        default y
endif